.jumbotron {
    margin-top: 50px;
    font-family: 'Arizonia', cursive;
   
    background-image: url(../pro-web/camera.jpg);
    color:white;
    text-align:center;
}


footer {
    padding: 10px 10px 0px 10px;

    background-color:rgb(0, 0,0,0.3);
    margin-bottom: 0px ;
    margin: top 10px; 
}
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}
.footer-address-icon {
    padding-right: 10px;
}
.container h1{
    text-align: center;


}
.tab-content{
    padding-top: 10px;
}
.form{
    padding: 50px;
}