.jumbotron {
  font-family: 'Arizonia', cursive;
  background-image: url(../pro-web/camera.jpg);
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #fff000;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px; }

.footer-address-icon {
  padding-right: 10px; }

.container h1 {
  text-align: center; }

.tab-content {
  padding-top: 10px; }

.form {
  padding: 50px; }
