$yellow: #fff000;
@mixin margenes ($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
    
}
.jumbotron {
    font-family: 'Arizonia', cursive;
    background-image: url(../pro-web/camera.jpg);
    color:white;
    text-align:center;
    @include margenes(50px, 0px);
}


footer {
    padding: 10px 10px 0px 10px;
    background-color:$yellow;
@include margenes(10px, 0px);
}
.card-hotel{
    flex: 1 200px;
   
}
.footer-address-icon {
    padding-right: 10px;
}
.container h1{
    text-align: center;


}
.tab-content{
    padding-top: 10px;
}
.form{
    padding: 50px;
}